[2014-12-16 23:55] warpech opened #9 ""Delete" button redirects to / only once"
When trying to delete few invoices consecutively, the "Delete" button redirects to `/` URL only once. This is because TemplateBinding does not detect changes to the model property made using `setAttribute` method, which is used by `puppet-redirect`.

I have asked on StackOverflow for possible solutions: http://stackoverflow.com/questions/27515665/update-template-variable-using-setattribute-propert

[2015-02-02 18:03] warpech opened #10 "Wiki: separate DELETE into its own page"
Separate DELETE from the page https://github.com/Starcounter/InvoiceDemo/wiki/Create-the-database-classes into its own page

[2015-05-08 09:01] warpech opened #11 "Test InvoiceDemo in all editions of Starcounter"
Currently, InvoiceDemo (this repository) is only tested in Polyjuice edition.

It should also be tested in Starcounter edition.

[2015-05-08 09:08] warpech opened #12 "Automated testing for all the steps of the tutorial"
Curerntly, the test only checks the final state of tutorial. A big improvement would be to test each step of it.

A way to achieve this is through `git tag`. Git tags are used in AngularJS tutorial:

- website: https://docs.angularjs.org/tutorial/step_01
- source: https://github.com/angular/angular-phonecat

What's nice about that is that code changes between steps can be seen as `git diff`: https

[2015-05-08 09:10] k-rus commented on #11
Actually, we have report that InvoiceDemo does not work in Starcounter edition. If I remember @alexanderstc reported a weaver error.

[2015-05-08 13:27] warpech opened #13 "InvoiceDemo doesn't work in Firefox"
There is an error message:

[code]

[2015-05-08 13:28] warpech opened #14 "InvoiceDemo doesn't work in IE11"
There is no error message.

[2015-05-08 13:45] warpech opened #15 "Add an empty row by default"
It is hard for people to guess that you need to press "Add row" to create a first row of the invoice

[2015-05-08 13:46] warpech opened #16 "Fix CSS for low resolution screens"
Currently tables look broken on low-res screen (or small window)

[2015-05-08 13:59] warpech opened #17 "Add DateTime and constructor to the Invoice class"
This is tentative:

To demonstrate some data in the "New Invoice" screen, let's add DateTime (in a constructor?) to the Invoice class (as in https://github.com/Polyjuice/RetailSuite/blob/master/SharedModel/PurchaseOrder.cs)

[2015-05-08 15:08] warpech commented on #17
Jocke agrees it is a good idea to demonstrate constructor in the InvoiceDemo

[2015-05-08 15:11] warpech opened #18 "Change int to long"
Change the type of `InvoiceNo` and InvoiceRow `Quantity` `int` to `long` in https://github.com/Starcounter/InvoiceDemo/blob/master/invoiceapp/InvoiceApp.json.cs

`long` is more compatible with JSON

[2015-05-13 06:29] parherman commented on #12
Actually the Automated testing today completes each step of the tutorial until it has finished the tutorial. But the tests are a major maintenance burden today, as they need to be manually updated every time the tutorial is updated.

Instead of doing this I suggest we add tests to each step in the tutorial. That way we can show how we think developers should test their apps and promote a test driv

[2015-05-13 07:00] parherman commented on #11
This issue is depends/involves issue #12, Starcounter issue [#2703 - Polyjuice installation and Starcounter installation must be equal](https://github.com/Starcounter/Starcounter/issues/2703) and it would be really good if Starcounter issue [#2609 - Add cli/no gui option to the installer](https://github.com/Starcounter/Starcounter/issues/2609) was completed for this

[2015-05-13 07:03] parherman commented on #11
We could add a simpler test that just clones the InvoiceDemo repo and runs it with star for now, @warpech should both solutions run on both editions?

[2015-05-13 09:30] warpech commented on #11
Yes, the current code (InvoiceDemo1.sln, InvoiceDemo2.sln) should work on both solutions.

It would be great to test live repo code in the test suite for both Polyjuice and Starcounter edition.

[2015-05-26 10:21] #15 closed

[2015-05-27 11:58] warpech commented on #13
Fixed in Firefox

[2015-05-27 11:58] #13 closed

[2015-05-27 12:01] warpech commented on #14
The reasons for not working in IE11:

1. Polymer 0.5 `<template repeat="">` doesn't work in IE11 inside of a table. Recommended replacement with `<tr template repeat="">` seems to be broken with our usage of Polymer.
  - this can be solved by using CSS `<div style="display: table">` instead of `<table>`
2. IE11 throws error when trying to make POST or PATCH xhr request in PuppetJS
  - this can be

[2015-05-27 13:01] warpech commented on #14
Fixing 2. depends on https://github.com/Starcounter/InvoiceDemo/issues/14

[2015-05-27 13:38] warpech commented on #14
Solution for 2. is explained http://jonnyreeves.co.uk/2013/making-xhr-request-to-https-domains-with-winjs/ . I still find it surprising because I am not using HTTPS

[2015-05-27 16:04] warpech commented on #16
Fixed

[2015-05-27 16:04] #16 closed

[2015-05-27 16:05] warpech commented on #9
Not reproducible anymore (now home page is a different page)

[2015-05-27 16:05] #9 closed

[2015-05-27 16:15] warpech commented on #14
1. and 3. fixed according to proposed solution. 2. mitigated by using WebSocket

[2015-05-27 16:15] #14 closed

[2015-06-03 14:37] miyconst opened #19 "Replace Action OnSave with event"
C# has native event handlers, and they should be used instead of `Action`s.

The result would look similar to:
[code]

[code]

[2015-06-04 13:11] warpech commented on #19
Good idea. Could you update the source at the text on starcounter.io?

[2015-06-04 13:20] miyconst commented on #19
Did you mean "update the source **and** the text on starcounter.io"?

[2015-06-04 13:38] warpech commented on #19
Yes :hushed:

[2015-06-04 14:06] miyconst commented on #19
Sure. Assigning to myself.

[2015-06-04 15:58] #19 closed

[2015-06-09 07:36] warpech opened #20 "Error while running InvoiceDemo1 with Polyjuice flag disabled"
The following error shows up when trying InvoiceDemo1 in Starcounter edition.

[code]

The error comes from [line](https://github.com/Starcounter/InvoiceDemo/blob/1742999c496bf186ae1795c095e7166db3c41b07/src/InvoiceDemo1/Program.cs#L22):

[code]

@alemoi is there any reason why URL mapping should not be allowed with Polyjuice flag disabled? Perhaps even ontology mapping should be allowed with Poly

[2015-06-09 10:26] alemoi commented on #20
Thanks for reporting! I think that should be allowed. Initially it was developed to be a pure Polyjuice functionality (that's why the name is like that, and it enforces `/polyjuice` prefix). But now turns out to be generic. Maybe it should be called `Handle.Map` then. Regarding ontology mapping we can discuss because right now it requires Polyjuice edition. Is this functionality urgent?

[2015-06-10 07:40] warpech commented on #20
@alemoi, on Hangouts you proposed to use the following code instead:

[code]

but that code has an opposite problem - it doesn't run with Polyjuice flag **off**.

The solution that starts correctly with the flag on and off:

[code]

but even this one shows an error with Polyjuice flag **off**:

I am running out of ideas... Can you help?

[2015-06-10 08:38] alemoi commented on #20
Thanks for reporting! I will get the demo and try to reproduce the issue with the code above!

[2015-06-10 14:53] alemoi commented on #20
The `wwwroot` directory was only registered only for Polyjuice edition.

[2015-06-22 16:22] warpech commented on #10
Done: http://starcounter.io/tutorials/2-1-introduction-to-part-2/2-6-delete-an-invoice/

[2015-06-22 16:22] #10 closed

[2015-06-22 16:25] warpech opened #21 "Create code for InvoiceDemo3"
Create InvoiceDemo3 (first on a separate branch, then merge to `master`), with the following features:

- minimum code changes from InvoiceDemo2
- able to run in Launcher as well as standalone
- ~~uses Simplified data model instead of its own~~ integrates with Simplified data model
- able to look up Organizations and Products (similarly to Procurement)

Layout editing is out of scope of this task

[2015-06-22 16:25] warpech commented on #21
Initial version posted on https://github.com/Starcounter/InvoiceDemo/tree/launcherintegration branch. Requires further work.

[2015-06-22 16:26] warpech opened #22 "Create tutorial for InvoiceDemo3"
Should be done in http://starcounter.io/tutorials/, after https://github.com/Starcounter/InvoiceDemo/issues/21 is finished

[2015-06-22 17:15] miyconst commented on #21
- [x] Able to run in Launcher as well as standalone.
- [ ] ~~Uses Simplified data model instead of its own.~~
- [ ] Able to look up Organizations and Products (similarly to Procurement).

[2015-06-22 18:01] miyconst commented on #22
@warpech is this task on me?

[2015-06-22 18:38] warpech commented on #22
Now it is :) This can take few days

[2015-06-22 19:02] miyconst commented on #22
We should also add some info about public folder bug (https://github.com/Starcounter/Starcounter/issues/2752) to the tutorial until that's fixed.

[2015-06-22 19:14] warpech commented on #21
Thanks! Merged to master.

To satisfy the criteria "minimum code changes from InvoiceDemo2", could you propagate the changes in `style.css` to InvoiceDemo 1 and 2? I mean only the changes in following declarations:

- `.invoicedemo button:hover`
- `.invoicedemo .invoice-item-cell a:link`

Do you think there are any more changes that should be propagated to InvoiceDemo 1 & 2?

[2015-06-22 19:35] warpech opened #23 "Inform in the tutorial that server restart is needed"
As mentioned in https://github.com/Starcounter/InvoiceDemo/issues/22#issuecomment-114222302, InvoiceDemo tutorial needs to mention in the first page of InvoiceDemo2 and 3 that server needs to be killed if another part of InvcoideDemo is already running.

Two reasons for that:

1. [Public web folders are not updated after an app stops](https://github.com/Starcounter/Starcounter/issues/2752)
2. `An

[2015-06-22 19:35] warpech commented on #22
^ created a separate issue for the above problem

[2015-06-23 07:36] miyconst commented on #21
Yes, I think that the section
[code]
should be wrapped in a `div`.

[2015-06-23 07:43] miyconst commented on #21
- `.invoicedemo .invoice-item-cell a:link`

Propagated to InvoiceDemo1 & InvoiceDemo2.

[2015-06-23 10:32] miyconst commented on #23
Added some text: http://starcounter.io/tutorials/2-1-introduction-to-part-2/

I wanted to be short, but in the end it is very long, don't know how to shorten it ((

[2015-06-24 12:04] warpech commented on #23
Thanks, I will make it shorter

[2015-06-26 07:50] warpech commented on #20
What is the status of this?

[2015-06-26 07:51] warpech commented on #11
This is dependent on https://github.com/Starcounter/InvoiceDemo/issues/20

[2015-06-26 12:36] #21 closed

[2015-06-26 14:40] warpech commented on #23
I made it shorter: http://starcounter.io/tutorials/2-1-introduction-to-part-2/
And created a new page, to which I copied the explanation that the app names must be unique: http://starcounter.io/guides/tools/starting-and-stopping-apps/

[2015-06-26 14:40] #23 closed

[2015-06-26 14:43] warpech commented on #21
Thanks!

[2015-06-26 15:30] miyconst commented on #23
:+1:

[2015-06-26 15:33] miyconst commented on #22
The first version is available here: http://starcounter.io/tutorials/invoicedemo-part-3/

[2015-07-03 07:28] miyconst commented on #22
@warpech could you please take a look?

[2015-07-03 15:11] warpech commented on #22
1. Add a link to http://starcounter.io/tutorials/invoicedemo-part-3/ in http://starcounter.io/tutorials/
2. In http://starcounter.io/tutorials/invoicedemo-part-3/3-4-add-launcher-menu-item/ (and later pages) please use proper letter case for acronyms and proper nouns (HTML, Bootswatch Paper, Glyphicons, JSON, GET handler)
3. We don't use the word "Polyjuice" to explain features. I changed the text

[2015-07-05 10:20] miyconst commented on #22
1 & 2, fixed.
3 & 4, good points, thank you.

[2015-07-05 10:20] #22 closed

[2015-08-25 10:20] tomalec opened #24 "Migrate to Polymer 1.1"
- [x] InvoiceDemo1
 - [x] InvoiceDemo2
 - [x] InvoiceDemo3

[2015-08-25 10:21] tomalec commented on #24
Changes are being made at [polymer_1.0 branch](https://github.com/Starcounter/InvoiceDemo/tree/polymer_1.0)

[2015-09-08 10:48] tomalec commented on #24
The only things left are to remove the need of id reference
[code]
and test in Launcher once Launcher is migrated to Polymer as well.

[2015-09-08 10:51] tomalec opened #25 "Update starcounter.io with Polymer 1.1 code"
Once https://github.com/Starcounter/InvoiceDemo/issues/24 will be done docs are need to be updated too

[2015-09-08 14:26] tomalec commented on #24
There is quite big issue with data flow if we would like to use :
[code]
As puppet-client provides model asynchronously, and dom-bind-notifier needs to observe object that is not yet there.

@warpech Please let me know, when you will have time to discuss it. As we need to decide what is in fact expected behavior.

[2015-09-09 12:28] warpech commented on #24
Me and @tomalec discussed it a bit yesterday.

Using the fact that PuppetJs creates the JavaScript data object in the constructor, not on receiving the response may be a hint to solving the problem. @tomalec said he will evaluate that.

[2015-09-09 17:56] tomalec commented on #24
After small fix in puppet-client it helped. But now we have another problem for `<dom-bind-notifier>` outside of dom-bind - it's not notified when entire model get's changed

[2015-09-09 18:10] warpech commented on #24
I thought that this is solved using `observe` property in Polymer, doesn't it? Like here: https://github.com/winhowes/file-tree/blob/d19a248df66becc9598138ab874b5798414237b7/file-tree.html#L50

[2015-09-09 18:13] tomalec commented on #24
But this is not 'ours' Polymer element
so we cannot set such property in definition of dom-bind.

[2015-09-09 18:15] tomalec commented on #24
It seems the only way is making it rely on implementation detail of `dom-bind`, e.g. relying of a fact that `dom-bind` stamps it's content before itself:
[code]

[2015-09-09 18:44] tomalec commented on #24
Another solution that cam into my mind is plugin in such observers to `dom-bind` from `dom-bind-notifier` code like:
[code]

Thanks to that we could write:
[code]

Brief check shows it works, but it's quite hacky as well, and there is no warranty that attaching properties will work in run-time, plus attaching nested object might be a problem.

[2015-09-10 17:51] tomalec commented on #24
Even if using `domBind.properties` seems to work in isolated case, it will not serve nice in our use cases as model (observed-object) is not changed by Polymer using Polymer's protocol, but by Juicy's vanilla imported-template element. And I believe there is no need to introduce Polymer's protocol into `imported-template`. So the only way to get notified, without asking user to do anything magical

[2015-09-10 18:48] miyconst commented on #24
I am okay with it. In the Polyjuice apps we would use it only once, on the master page, not a big deal.

The 'ref' property is still supported, right?

[2015-09-10 19:26] tomalec commented on #24
Right

[2015-09-11 07:59] warpech commented on #24
@tomalec please confirm - is it only on the master page (LauncherTemplate.html or StandalonePage.html) or on every partial that uses <template is="dom-bind">?

[2015-09-11 09:21] tomalec commented on #24
Dom-bind-notifier is needed for every dom-bind so unfortunatelly for every
partial that uses polymer's dom-bind.

However, to reduce amount of Object.observes, we will use
puppet-dom-bind-notfiers that will attach to single puppet-client => single
jsonpatch observer.
11 wrz 2015 09:59 "Marcin Warpechowski" <notifications@github.com>
napisał(a):

[2015-09-11 09:24] miyconst commented on #24
But it will be the only one root element, we can't nest `dom-bind` inside a `dom-bind`.

[2015-09-11 11:24] tomalec commented on #24
Nope there will be more. We cannot nest directly but we will do it
indirectly, via imported templet.
11 wrz 2015 11:24 "Konstantin" <notifications@github.com> napisał(a):

[2015-09-11 11:27] miyconst commented on #24
Does this mean, that `dom-bind-notifier` should be included in each partial template?

[2015-09-11 12:10] tomalec commented on #24
Yes
11 wrz 2015 13:27 "Konstantin" <notifications@github.com> napisał(a):

[2015-09-17 15:41] warpech opened #26 "Avoid methods like RefreshPage"
As pointed out by @bigwad in email (6.06.2015):

[code]

I totally agree though am worried about performance implications. Need to discuss it.

This also applies to other sample apps.

[2015-09-17 15:50] warpech commented on #26
@miyconst said:

The get binder would require some additional explanation in the tutorial, and the commit hooks would not work, because there is no way to detach a hook.

[2015-09-18 08:11] tomalec commented on #26
We can explain it in similar way Polymer team does with their bindings. So write the explicit code, that show, that it could be shorten to the binding.

[2015-09-22 13:49] tomalec commented on #24
[polymer_1.0 branch](https://github.com/Starcounter/InvoiceDemo/tree/polymer_1.0) is ready to be merged.

the only glich that is left is a problem with `<starcounter-debug-aid>` in standalone mode:
https://github.com/Polyjuice/starcounter-debug-aid/issues/35
https://github.com/Juicy/juicy-jsoneditor/issues/5

[2015-09-22 13:52] tomalec commented on #24
@warpech, @miyconst We do want to fully support `<s-d-a>` in here, don't we?

[2015-09-22 14:02] miyconst commented on #24
I think it would be nice to make it work in shady dom.

[2015-09-22 20:39] warpech commented on #24
Definitely `<starcounter-debug-aid>` needs to work in standalone mode. Thanks for making this work!

[2015-09-24 05:05] warpech opened #27 "InvoiceDemo3 puts files into wwwroot/InvoiceDemo unannounced"
It is never explained in the Tutorial why InvoiceDemo3 has files in `wwwroot/InvoiceDemo`, while `InvoiceDemo2` has them in `wwwroot`. This is confusing for anyone going through the Tutorial.

[2015-09-24 22:31] alemoi commented on #20
Since the big changes that remove Polyjuice are pushed now, probably this issue is no longer relevant. Please close if so.

[2015-10-01 10:44] tomalec opened #28 "Inconsistent daa sharing behavior"
In invoice 2/3 if you open an invoice for the first time and edit Customer name, or total price, value on sidemenu does not change.

They starts to change once you click on save button.

[2015-10-01 10:44] tomalec opened #29 "Consider simplifying auto-updates"
Currently client needs to bump `ClearFoundSomebodies$` and `ClearFoundProducts$` manually.

That requires at least 9 lines of code, some logic on client side, and looks ugly with Polymer 1.0

That's quite a lot just to hide a tooltip on blur.

As server is not aware of blur/keydown events, maybe we can just hide tooltip, and leave data there?

[2015-10-01 15:06] #24 closed

[2015-10-06 09:25] jakubklekota opened #30 "Redirect not working"
Redirect not working for action buttons in InvoiceDemo (cancel, save, delete).

[2015-10-06 10:02] alemoi commented on #30
Thank you for your question Jacub! We will check by setting up redirects to action buttons!

[2015-10-06 10:17] warpech commented on #30
This looks like a Polymer 1.1 problem with `puppet-redirect`. @tomalec can you take a look?

[2015-10-07 12:21] #30 closed

[2015-10-07 12:22] tomalec commented on #30
Thanks @jakubklekota
It was just wrong Polymer binding inside dom-bind.

[2015-10-07 13:00] warpech commented on #30
Any idea why Polymer [says](https://www.polymer-project.org/1.0/docs/devguide/data-binding.html):

Are we doing something wrong that we (`puppet-redirect`) observe the mutation of Custom Element attributes instead of property?

[2015-10-07 13:44] tomalec commented on #30
From what I know it's:
 - performance  of serializing/de-serializing data to attribute (in our case it's just a string)
 - overhead of some Polymer magic, notifiers, lifecycle callbacks etc (not relevant here)
 -  1:1 relation of attribute:property in case of some properties in native elements (we are not native, and this 1:1 may be another performance + maintenance overhead)

vs

 - declarative m

[2015-10-08 07:44] warpech commented on #30
These were my thoughts, but actually [vanilla hello-world](https://github.com/webcomponents/hello-world-element/blob/master/hello-world.html) does not use it, nor it is mentioned in https://github.com/webcomponents/gold-standard/wiki

[2015-10-08 07:49] warpech commented on #20
Thanks! Closing

[2015-10-08 07:49] #20 closed

[2015-10-08 09:48] warpech opened #31 "Merge with Procurement app"
InvoiceDemo 3 is almost identical to [Procurement](https://github.com/StarcounterSamples/Procurement). Let's discuss deleting Procurement and putting InvoiceDemo 3 in the app store instead.

@miyconst, is there anything that Procurement has which InvoiceDemo 3 does not have?

[2015-10-08 09:52] warpech commented on #31
Some differences that I found:

1) InvoiceDemo has 2 column layout, whereas Procurement has separate focused page for orders list and order detail

2) InvoiceDemo defines it's own data model for `Invoice` and `InvoiceRow`, but uses Simplified's `Somebody` as well. Procurement uses Simplified only.

3) Different way to clear suggestions (related: https://github.com/Starcounter/InvoiceDemo/issues/29

[2015-10-08 10:17] warpech commented on #29
Would it be possible to hide the tooltip with just a clever CSS selector? So that we don't have to write client-side code at all?

[2015-10-08 10:18] warpech commented on #28
Related: https://github.com/Starcounter/InvoiceDemo/issues/26

[2015-10-08 10:20] warpech commented on #25
This is done, right?

[2015-10-08 13:53] tomalec commented on #25
yep

[2015-10-08 13:53] #25 closed

[2015-10-13 08:35] warpech opened #32 "Invalid Polymer import"
In InvoiceDemo 2 & 3 `Master.html`, Polymer is imported incorrectly:

[code]

- https://github.com/Starcounter/InvoiceDemo/blame/master/src/InvoiceDemo2/wwwroot/MasterPage.html
- https://github.com/Starcounter/InvoiceDemo/blame/master/src/InvoiceDemo3/wwwroot/InvoiceDemo/MasterPage.html

Please also check if tutorial on starcounter.io does not need to be fixed

[2015-10-14 11:23] warpech opened #33 "App Icon is not up to date"
App icon declaration was changed in Launcher 3.x.

Please update InvoiceDemo3 and the tutorial: https://github.com/Starcounter/InvoiceDemo/blob/master/src/InvoiceDemo3/Program.cs

[2015-10-19 09:51] #33 closed

[2015-10-19 10:12] #32 closed

[2015-10-22 09:41] warpech opened #34 "Remove client side logic"
There should not be anything like this in client side code

[code]

[2015-10-22 10:34] miyconst commented on #34
@warpech, should I take this?

[2015-10-22 11:08] warpech commented on #34
Yes please

[2015-10-26 09:40] miyconst commented on #34
Done. I have also updated a couple of code snippets on starcounter.io to remove horizontal scroll bar.

There is another potential thing to improve:
https://github.com/Starcounter/InvoiceDemo/blob/master/src/InvoiceDemo3/wwwroot/InvoiceDemo/InvoicePage.html#L17

I think, there should be a workaround to don't use `on-blur="clearFoundSomebodies"` to make it simpler.

[2015-10-29 11:48] warpech commented on #34
Perfect, thanks!

There is already an issue for that (https://github.com/Starcounter/InvoiceDemo/issues/29).

[2015-10-29 11:48] #34 closed

[2015-10-29 11:57] miyconst commented on #29
It is possible to hide/show dropdown on blur with css, but the problem appears when user makes a search for the second time.

Focused input will display the dropdown with old results. So, the result should be cleared anyway. I am looking for some more elegant solution.

[2015-10-29 12:43] miyconst commented on #29
So, there are two solutions I like:

Add custom property to the input:
[code]

Create a custom element which would wrap this logic inside. This solution requires even more code, but is more elegant.

[2015-10-29 13:31] warpech commented on #29
I think this looks elegant enough without the custom element. This is a tutorial, so it would be good to not add layers of complexity in it.

[2015-10-29 16:41] miyconst commented on #29
Done, starcounter.io also updated.

[2015-10-29 16:41] #29 closed

[2015-12-11 15:39] warpech commented on #31
More differences:

4) Procurement has scripts to package it as an App Store app. **This should be moved to InvoiceDemo3**

5) Procurement adds a Price input to the Products app. **This should be moved to Products**

[2015-12-11 15:46] warpech opened #35 "Change into a WebShopDemo"
We discussed with @per-samuelsson that afterwards, InvoiceDemo can be potentially changed into a WebShopDemo, which would have few benefits:

- easier to understand, because every programmer bought something in a web shop before and knows what to expect from a shopping cart
- straightforwardly integratable with the Credit Card Payments app
- InvoiceDemo is a really bad invoicing app (nobody would

[2015-12-11 15:46] warpech commented on #35
This could be done after https://github.com/Starcounter/InvoiceDemo/issues/31

[2015-12-11 15:49] warpech commented on #31
@miyconst can you give advice about point 3) ?

[2015-12-14 09:07] pluppplupp opened #36 "You need to use FullName of the database class when querying from Admin UI"
In the tutorial step 6 (http://starcounter.io/tutorials/1-introduction-to-part-1/1-6-create-the-database-classes/). The tutorial says, execute query "```SELECT * FROM Invoice```". It doesn't work, you need to inlclude the namespace of the class. "```SELECT * FROM MyNamespace.Invoice```" works.
![2015-12-14_09-59-14](https://cloud.githubusercontent.com/assets/1765023/11776795/488bb37c-a24a-11e5-82d

[2015-12-14 09:21] pluppplupp opened #37 "Put a link to the GitHub repository from the tutorial"
The link now is in the header of the first step of the tutorial. But it's not obvious that this points to the GH repro.

![2015-12-14_10-20-27](https://cloud.githubusercontent.com/assets/1765023/11777113/5d7e0792-a24c-11e5-9d44-450a571ce21c.png)

[2015-12-14 09:28] pluppplupp opened #38 "Buttons in the demo only works in Chrome"
In the later part of the tutorial one cannot click buttons, add row, save changes, cancel changes. Tested in firefox developer edition and Edge browsers. The problem seems to occur in Polymer ```Object.observe``` where observe is not a function.

[2015-12-14 09:32] miyconst commented on #38
It should be an easy fix, I take this one.

[2015-12-14 09:37] pluppplupp opened #39 "When refreshing the demo app, persisted data doesn't load"
When I came to the last step of the tutorial and was playing with the demo, when I refreshed the browser the persisted data was not loaded. I thought it was a bug but it's not, the demo app always create a new Invoice when browser refreshes. It's somewhat confusing.

To make the experience better I suggest adding one more step to make the demo more like a complete app. When refreshing the browser

[2015-12-14 09:40] pluppplupp opened #40 "Icons are missing when using debug aid mode"
When ctrl-§ debug aid pops up. Icons are missing..

![2015-12-14_10-38-41](https://cloud.githubusercontent.com/assets/1765023/11777476/06e0316e-a24f-11e5-9148-43bdd672cc1a.png)

[2015-12-14 09:47] pluppplupp opened #41 "Helper icons used in the turorial, hard to know what they mean"
![2015-12-14_10-41-17](https://cloud.githubusercontent.com/assets/1765023/11777544/76cc0840-a24f-11e5-8fbb-9ecbae0739ac.png)
maybe there are other icons out there :)

[2015-12-14 09:53] miyconst commented on #40
Taking this one.

[2015-12-14 09:56] pluppplupp opened #42 "In step 4. Naming of the JSON properties could be explained"
What's up with the $ after some of the properties?

![2015-12-14_10-55-30](https://cloud.githubusercontent.com/assets/1765023/11777865/3674ead0-a251-11e5-8235-f44b7d7257a6.png)

[2015-12-14 10:01] Nomans commented on #42
Properties ending with $ allows user input. This is to avoid accidental write exposure.

Sent from my iPhone

[2015-12-14 10:07] pluppplupp commented on #42
Ok, great. That should maybe be explained in the tutorial?!

[2015-12-14 10:13] pluppplupp opened #43 "In step 5, strange IDE errors / warnings pop up"

[2015-12-14 10:16] warpech commented on #41
The icons were initially used in GitHub wiki, where there were no better options to capture attention of the reader.

I think that this should be replaced with some better styled sidenotes, similar to what you find in text books (like "... for Dummies").

Some examples of that from Google Images:

![image](https://cloud.githubusercontent.com/assets/566463/11778266/9b287148-a253-11e5-9479-70b3b906d

[2015-12-14 10:17] miyconst commented on #43
Could you please provide some more info?

[2015-12-14 10:20] pluppplupp commented on #43
I can try to do the tutorial once more, to check if I get the same behaviour again..

[2015-12-14 10:45] pluppplupp commented on #43
I've tried it again, and figured out how it works. I have ReSharper installed. ReSharper is showing these errors. When disabling ReSharper it works as expected. When ReSharper is enabled the errors above occurs until you save the file with the class extending Page.

[2015-12-14 10:46] pluppplupp commented on #43
Resharper version Ultimate 2015.2 (9.2)

[2015-12-14 10:50] miyconst commented on #43
Okay, this is something @chrhol and @per-samuelsson should take a look at. The problem is that we have to generate (weave) some c# code for `.json` files, sometimes this cause errors, when generated code is not updated according to `json` file on time.

Personally I dislike Resharper, but I know that many people like it, and we should support it.

[2015-12-14 10:54] pluppplupp commented on #43
Yes, since the tooling in VS.NET is getting better and better, ReSharper will be less used I think.

ReSharper also tells me to remove the Page class since it exists on the generated partial.

![2015-12-14_11-50-23](https://cloud.githubusercontent.com/assets/1765023/11779114/70abda44-a259-11e5-911d-ea8a8508101a.png)

[2015-12-14 11:01] per-samuelsson commented on #43
Just a super-minor comment on this:

*Weaving* happen at the time you start an application, and works on the already compiled code. Its a black-box and nothing that can cause these kind of things in the IDE.

The *generation of C# code* based on JSON is something completely else, and is driven by `msbuild`, compiling the generated classes on the fly, everytime you modify the JSON or the code behin

[2015-12-14 11:12] per-samuelsson commented on #43
This seem to be out of our control. I mean, C# support this (or even promote it) when defining partial classe. Why ReSharper complain about it, I don't understand.

There are really old issues about this - [one](https://devnet.jetbrains.com/message/5181004) and [two](https://devnet.jetbrains.com/message/5218793) - and one if them even seem to be acknoledged. But maybe they never addressed it.

[2015-12-14 11:15] per-samuelsson commented on #42
We need to better document this.

Some links:

https://github.com/Starcounter/Starcounter/issues/3086
http://starcounter.io/guides/json/json-data-binding/
https://github.com/Starcounter/starcounter.io/issues/88

Agree. So let's keep this issue open for that.

[2015-12-14 11:17] pluppplupp opened #44 "Step 6 "Declare database classes" - why should all db classes go into one file?"
Referring to: http://starcounter.io/tutorials/1-introduction-to-part-1/1-6-create-the-database-classes/

The tutorial says: "The class definitions are very expressive, that is why we put both definitions in a single file."

Why should all db classes go into one file? Is this a StarCounter best practice? If there will be a lot of db classes this file will get huge? I think it is a .NET guideline to

[2015-12-14 11:47] pluppplupp opened #45 "Step 6 Pasting the code of the database class, sql statement missing @"
![2015-12-14_12-43-47](https://cloud.githubusercontent.com/assets/1765023/11780192/73f15c18-a260-11e5-9614-68d1f327e9e8.png)
The pasted code will generate compile errors.

![2015-12-14_12-46-44](https://cloud.githubusercontent.com/assets/1765023/11780240/c33a4172-a260-11e5-838d-47a3cec1b256.png)

[2015-12-14 11:48] miyconst commented on #45
Thanks for noting it.

[2015-12-14 11:54] pluppplupp opened #46 "Tutorial says FK is not needed, is a orphan object ok?"
![2015-12-14_12-50-08](https://cloud.githubusercontent.com/assets/1765023/11780319/68413da6-a261-11e5-8dc3-00d766ed5218.png)

This gives me some unanswered questions. Can I remove the Invoice relating to the InvoiceRow? Will the InvoiceRow be orphaned?

[2015-12-14 12:05] miyconst commented on #46
Yes, this is by design.

If you want to make sure that all `InvoiceRow` being deleted with the `Invoice`, then you have two options:

#### Implement `IEntity` interface in `Invoice` class:

[code]

#### Create a commit hook for `Invoice` class and delete its rows in there:

[code]

[2015-12-14 12:09] pluppplupp commented on #46
And if I want classic referential integrity check I would throw an exception?

[2015-12-14 12:10] miyconst commented on #46
Yes, exactly.

[2015-12-14 12:11] pluppplupp commented on #46
Mabye, we should explain this in the tutorial or reference a "read more" page?!

[2015-12-14 12:12] miyconst commented on #46
For sure.

[2015-12-14 12:28] pluppplupp opened #47 "In step 7 the concept of handlers is introduced but not explained"
http://starcounter.io/tutorials/1-introduction-to-part-1/1-7-bind-data-to-the-view-model/

Handlers for Add, Save, Cancel are introduced. But I would like to know what a handler is in Starcounter. And how does Starcounter find the handler. By convention by name given in the JSON..

The actions in the handlers are not used. Maybe explain that..

[2015-12-14 12:45] pluppplupp opened #48 "Introduce Add new item.. that will derive from Page"
So the developer doesn't need to change from ```: Json``` to ```: Page```

[2015-12-14 12:46] miyconst commented on #47
This is something we work on to make it more intuitive, current situation is as follow:

[code]

When a json property changed, Starcounter will look for method named `Handle` which accepts certain parameter. The parameter might not be used inside the function, but is required to distinguish functions among each other.

The `Handle` name is hard coded for performance reason, @chrhol could explain b

[2015-12-14 12:48] miyconst commented on #48
There is work in progress on this. Read the following issues:

https://github.com/Starcounter/Starcounter/issues/2931
https://github.com/Starcounter/Starcounter/issues/3039

Closing this one as duplicate.

[2015-12-14 12:48] #48 closed

[2015-12-14 12:49] miyconst commented on #46
@warpech can you take this one?

[2015-12-14 13:34] pluppplupp opened #49 "If the project isn't called "invoicedemo" there's a lot of search and replace"
My project was called "starcounter_invoicedemo1" which created some problems bcse the "invoicedemo" is referenced in html and c# example code. Maybe there could be a routeRoot / project name property that could be easily configured.

[2015-12-14 14:19] warpech commented on #46
Duplicate of: https://github.com/Starcounter/Starcounter/issues/3035

Thanks a lot @pluppplupp for describing the issue!

I think that a new page "Cascading deletes" should be added to http://starcounter.io/guides/database/ . I am not the best person to write it, but I can surely copy and paste the content from here  and https://github.com/Starcounter/Starcounter/issues/3035.

@per-samuelsson do y

[2015-12-14 15:27] warpech commented on #41
"For dummies" books do it quite well: http://www.ibm.com/cloud-computing/files/cloud-for-dummies.pdf

[2015-12-14 16:12] per-samuelsson commented on #46
Yes and no. Yes, because we need to document this. No, because I'm not satisfied with how the current API look.

But maybe its one of those "we're not going to have time to refine this API; lets just document what is, and see if we can improve in the next major".

If we decide to go that last way, we need to choose what model to promote I guess. Documenting both will just introduce confusion, espe

[2015-12-14 19:22] warpech commented on #41
I reworked the page to have better icons and sidenotes: http://starcounter.io/tutorials/1-introduction-to-part-1/1-6-create-the-database-classes/

WDYT?

If we approve then all other tutorial pages will be updated

[2015-12-15 08:01] miyconst commented on #45
Fixed. Please next time add link to the page, not only screen shot.

[2015-12-15 08:01] #45 closed

[2015-12-15 08:02] pluppplupp commented on #45
Will do!

[2015-12-15 08:03] pluppplupp commented on #41
Looks great :)

[2015-12-15 08:41] miyconst commented on #38
Fixed, not it works in FF and IE.

[2015-12-15 08:41] #38 closed

[2015-12-15 08:52] pluppplupp opened #50 "Got stuck on browser cache in sample app 2"
I was continuing from sample app 1 to sample app 2. I got to the step 2-5 (http://starcounter.io/tutorials/2-1-introduction-to-part-2/2-5-links-and-page-morphing/).

I've changed the InvoicesPage.html like the tutorial says, refreshed the browser, hard refresh. But the html page got stuck in cache.

In chrome it's not enough doing hard reset, you need to go to refresh, right click, and choose "Emp

[2015-12-15 09:02] pluppplupp opened #51 "Tutororial - Sample app 2 - step 2-6"
http://starcounter.io/tutorials/2-1-introduction-to-part-2/2-6-delete-an-invoice/

![2015-12-15_10-01-00](https://cloud.githubusercontent.com/assets/1765023/11806360/c17e6540-a312-11e5-817a-4b99465d9cd0.png)

Tutorial says "First, let’s add the Delete button to  InvoicePage.html" But the delete button markup is already present in the pasted html file.

[2015-12-15 09:36] pluppplupp opened #52 "Tutorial Sample app 2 - Step 2-6. Compiler error, missing RedirectUrl"
![2015-12-15_10-34-45](https://cloud.githubusercontent.com/assets/1765023/11807075/be95901a-a317-11e5-975b-2eb96073789e.png)

http://starcounter.io/tutorials/2-1-introduction-to-part-2/2-6-delete-an-invoice/

I cannot compile the code when I get to the "That’s it. When you rebuild the program, you will have a functional Delete button"

The ```RedirectUrl``` gets defined in the next step 2-7.

[2015-12-15 10:19] pluppplupp opened #53 "Tutorial sample app 2 - Step 3-1. Databases disappear from Admin UI"
I followed instructions on http://starcounter.io/tutorials/invoicedemo-part-3/3-1-install-launcher-from-appstore/.

Downloaded the Launcher application, started it. Followed instructions to go to localhost:8080 (8484 in my env). When browsing I get a 404.

![2015-12-15_11-17-58](https://cloud.githubusercontent.com/assets/1765023/11807953/97174212-a31d-11e5-903b-d779e461013e.png)

When going to the

[2015-12-15 10:31] pluppplupp opened #54 "Tutorial sample app 2 - Step 3-1. Go to Launcher app"
http://starcounter.io/tutorials/invoicedemo-part-3/3-1-install-launcher-from-appstore/

![2015-12-15_11-28-05](https://cloud.githubusercontent.com/assets/1765023/11808158/06431174-a31f-11e5-9686-5dee907d8dc8.png)

Tutorial says " goto localhost:8080", but it should be localhost:8080/Launcher ?

You also need to activate chrome experimental flags.

Launcher app doesn't look like the image in the tu

[2015-12-15 10:38] miyconst commented on #54
Yes. Thank you for finding this. The Launcher app was changed after tutorials were written.

[2015-12-15 13:34] pluppplupp opened #55 "Tutorial sample app 3 - step 3-2.A workspace without AppName"
http://starcounter.io/tutorials/invoicedemo-part-3/3-2-run-invoicedemo-inside-launcher/

![2015-12-15_12-07-40](https://cloud.githubusercontent.com/assets/1765023/11811764/c5c103a4-a337-11e5-8a43-69008dd13cf9.png)

After completing the tasks of step 3-2 trying to launch the InvoiceDemo application inside the Launcher I get this error message.

Debugging is hard, since the error message doesn't say

[2015-12-15 14:45] miyconst commented on #40
Fixed. Should be available with the next nightly build, `> 2.1.836`.

[2015-12-15 14:46] #40 closed

[2015-12-16 09:02] pluppplupp commented on #55
The real problem was that the EXE (Assembly) in the VS.NET solution had a type-o. "Star(t)Counter". All the routes was correctly named "starcounter". And somewhere in starcounter the appname is taken from the executing assembly but often from the first part of the url. When these didn't match, this error ocurred.

[2015-12-16 14:22] pluppplupp opened #56 "Tutorial sample app 3 - step 3-8. Error when trying to download People app"
http://starcounter.io/tutorials/invoicedemo-part-3/3-8-fill-data-with-people-app/

I get a 404 when clicking Download on people app.
![2015-12-16_15-21-22](https://cloud.githubusercontent.com/assets/1765023/11843246/cd05bc96-a408-11e5-8db8-d0bf9bf05ac7.png)

[2015-12-16 14:39] pluppplupp commented on #56
I stopped all applications. Restarted default database. Fired up a not used (this session) browser. It then downloaded.

[2015-12-16 14:49] pluppplupp opened #57 "Tutorial sample app 3 - step 3-9. Fill data in people app"
http://starcounter.io/tutorials/invoicedemo-part-3/3-8-fill-data-with-people-app/

![2015-12-16_15-48-09](https://cloud.githubusercontent.com/assets/1765023/11843967/94d98128-a40c-11e5-8108-b010e854c2db.png)

Layout is broken which makes it hard to create new stuff!

[2015-12-17 13:48] Nomans commented on #42
It should be explained in the tutorial the first time it is being used.

Sent from my iPhone

[2015-12-21 09:10] #54 closed

[2016-01-08 14:23] diliger opened #58 "Tutorial Sample app 2 - Step 2-7. pupped-redirect - not found"
When I run the sample2 redirects don't work, probably because pupped-redirect not found.

Here is an error what i see in debug console:

![pupped-redirect - not found](https://cloud.githubusercontent.com/assets/15857369/12199841/3cdb5316-b62c-11e5-8181-5bb089660902.png)

сс @miyconst

[2016-01-08 14:28] diliger opened #59 "Tutorial Sample app 2 - Step 2-7. Delete New Invoice Error"
Start the application.

Follow New Invoice link and press Delete invoice.

I get this error:
![Delete New Invoice Error](https://cloud.githubusercontent.com/assets/15857369/12199968/0c040138-b62d-11e5-9739-ef3425c737ca.png)

cc @miyconst

[2016-01-08 14:31] miyconst commented on #58
Thanks for reporting. You are probably using the latest nightly build, which has latest `puppet-redirect`.

In the latest `puppet-redirect` the `src` folder was removed. You can modify url to `puppet-redirect/puppet-redirect.html` to fix the issue.

@warpech should I update the tutorials or wait till we release next stable version?

[2016-01-08 14:32] miyconst commented on #59
Could you please provide full exception text from Starcounter administrator log section?

[2016-01-08 14:34] miyconst commented on #59
Seems like this is a duplicate of this issue: https://github.com/Starcounter/Starcounter/issues/2814

I will fix the tutorials with a workaround.

[2016-01-08 16:36] diliger opened #60 "Tutorial sample app 3 - step 3-3. Add styles"
Well, actually i got confused here.

First:
I should add styles to the InvoicesPage.html as tutorial says, but where to add?
As i got later, i should put it in the top, right before any existing html.

Second:
Why the url to the style.css contains a subfolder in the path?
It's never mentioned that we should put the content of wwwroot folder to a subfolder with the same name as the project is.

Her

[2016-01-08 17:01] warpech commented on #58
@miyconst The tutorial should reflect the stable version that is linked on the Downloads page.

Meanwhile, could you add a sidenote saying that starting from Starcounter 2.1.x (put the relevant nightly version in x), the path to the file is `puppet-redirect/puppet-redirect.html`?

[2016-01-08 19:34] miyconst commented on #58
Sure, I can do that.

[2016-01-08 21:13] miyconst commented on #59
Fixed. Updated tutorials.

[2016-01-08 21:13] #59 closed

[2016-01-08 21:20] miyconst commented on #58
Added comments in sources and tutorials.

[2016-01-08 21:20] #58 closed

[2016-01-08 21:29] miyconst commented on #60
Thanks for your feedback.

As i got later, i should put it in the top, right before any existing html.

For me the code snippet explains where to put the styles link - before the link to `puppet-redirect`.

Good point, I will update the tutorials.

[2016-01-09 08:09] diliger opened #61 "Tutorial sample app 3 - step 3-8. People app pupped-redirect not found"
Cannot edit existing company or person.

Pupped-redirect not found.

![Pupped-redirect not found](https://cloud.githubusercontent.com/assets/15857369/12215148/59a6f078-b6c1-11e5-8e30-056f277a972b.png)

cc @miyconst

[2016-01-18 09:44] warpech commented on #61
I will be fixing InvoiceDemo issues today, starting from most recent one (this one)

[2016-01-18 09:57] warpech commented on #61
Fixed by releasing a new version of People (3.0.5). Changes were already made in December (https://github.com/StarcounterSamples/People/commit/fc4b13298d2a0c0e24551fb20b5843ff36171ae9) but were not released.

Thanks for reporting!

[2016-01-18 09:57] #61 closed

[2016-01-18 10:07] warpech commented on #56
Thanks for reporting!

Most likely to be caused by a timed out session in the Administrator. Do you agree with this diagnose, @andwah?

If so, then should be fixed by https://github.com/Starcounter/Starcounter/issues/3194

[2016-01-18 10:08] warpech commented on #53
@andwah can you pls take a look at this?

[2016-01-18 10:23] warpech commented on #52
Thanks for reporting.

I removed `RedirectUrl` from step "2.6 Delete an invoice" and added an info at the bottom of the page:

[2016-01-18 10:23] #52 closed

[2016-01-18 10:48] warpech commented on #60
Thanks for reporting!

At this stage, there is no link to `puppet-redirect` either in that file.

I have added a clarification on top of http://starcounter.io/tutorials/invoicedemo-part-3/3-3-add-styles/

This is tracked in a separate issue https://github.com/Starcounter/InvoiceDemo/issues/27.

I will make all the InvoiceDemos (1, 2, 3) use `wwwroot/InvoiceDemo` for consistency.

[2016-01-18 10:48] #60 closed

[2016-01-18 10:48] warpech commented on #27
I will make all the InvoiceDemos (1, 2, 3) use `wwwroot/InvoiceDemo` for consistency. This will be explained in Part 1 of the tutorial.

[2016-01-18 10:50] andwah commented on #53
I get the same behaviour when i try to navigate to ```http://127.0.0.1:8484/``` => ```Error 404: Resource "/" not found.```

If i change the url to ```http://127.0.0.1:8484/Launcher``` then it works as expected.

[2016-01-18 10:51] warpech opened #62 "Add notifications"
In InvoiceDemo Part 1, there is no notification after the invoice is created

In InvoiceDemo Part 2, there is no notification after the invoice is deleted

[2016-01-18 10:59] andwah commented on #53
I think the problem is in the resent change about Session.Current.Data is set/handled.

@warpech See https://github.com/Starcounter/InvoiceDemo/blob/master/src/InvoiceDemo2/Program.cs#L9

Is that the correct way of handling it? i can remember.

[2016-01-18 11:03] andwah commented on #56
@warpech yes, most likely it's a timeout

[2016-01-18 11:14] warpech commented on #27
Updated repo and all the tutorial pages (especially http://starcounter.io/tutorials/1-introduction-to-part-1/1-3-create-request-handlers-for-the-home-page/#static)

[2016-01-18 11:14] #27 closed

[2016-01-18 11:15] warpech commented on #39
This problem will be solved by adding save and delete notifications:  https://github.com/Starcounter/InvoiceDemo/issues/62

[2016-01-18 11:16] warpech commented on #62
As stated in #39, lack of notifications make it hard to understand why button clicks are not persistent.

[2016-01-18 11:16] warpech commented on #39
Closing this issue, thanks for reporting! It is now tracked in #62

[2016-01-18 11:16] #39 closed

[2016-01-18 14:30] warpech commented on #56
When do you think we could try doing https://github.com/Starcounter/Starcounter/issues/3194? Could I assign it on you?

[2016-01-18 14:57] warpech commented on #53
Without reading I thought this is an Administrator problem, but after reading this are not neccessary related problems.

Sorry for improperly assigning this on you, @andwah.

**1) Regarding screenshot:**

![2015-12-15_11-17-58](https://cloud.githubusercontent.com/assets/1765023/11807953/97174212-a31d-11e5-903b-d779e461013e.png)

Launcher should be accessed as `http://localhost:8484/launcher` (not

[2016-01-18 14:57] #53 closed

[2016-01-18 14:58] warpech commented on #36
Related: https://github.com/Starcounter/Starcounter/issues/3178

[2016-01-18 15:04] warpech commented on #36
The problem here is that the InvoiceDemo tutorial actually does not use namespaces, but @pluppplupp used namespaces in his recreation of it.

I think that InvoiceDemo should use namespaces to become more realistic.

I discussed this with @per-samuelsson few weeks ago and he agreed.

[2016-01-18 15:05] miyconst commented on #36
Agree. Even more, I think we should not allow `[Database]` classes without a namespace.

[2016-01-18 15:14] andwah commented on #56
I dont have the overview planning.
@dan3 When should i start with this?

[2016-01-18 15:15] warpech commented on #36
That's beyond the scope of this issue :)

To fix the problem before https://github.com/Starcounter/Starcounter/issues/3178 is done, I have updated the sample page to include the query with and without namespace.

[2016-01-18 15:15] #36 closed

[2016-02-16 15:21] warpech commented on #41
Now all the tutorials use the sidenotes and "See for yourself" frames as in presented in this example: http://starcounter.io/tutorials/1-introduction-to-part-1/1-6-create-the-database-classes/

[2016-02-16 15:21] #41 closed

[2016-02-16 16:26] warpech commented on #37
Done: http://starcounter.io/tutorials/1-introduction-to-part-1/

[2016-02-16 16:26] #37 closed

[2016-02-16 17:01] warpech commented on #57
Let's get to work on this after People app is switched to use https://github.com/Juicy/juicy-tile-grid/issues/28

[2016-02-16 18:34] warpech commented on #46
Solution idea: Add a sidenote to this page that links to http://starcounter.io/guides/database/object-identity/

This page shows how to add a sidenote: http://starcounter.io/style-guide/

[2016-02-16 21:43] dan31 commented on #46
I gave it some thinking today, my current opinion is that optional/ad-hoc referential integrity, as we have today in Starcounter, corresponds to "you don't pay for what you don't use" principle. Taking a look at referential integrity in general, Imagining Starcounter classes be ordinary .NET or even C++ classes. For them, one should implement some form of reference counting (GC in .NET or shared_p

[2016-02-18 17:07] warpech commented on #42
Thanks for reporting!

This page http://starcounter.io/guides/web/server-side-view-models/ was actually explaining `Handle (Input)` but provided a wrong JSON-by-example, where none of the properties ended with `$`. I have fixed that.

I have also added this information to the page http://starcounter.io/tutorials/1-introduction-to-part-1/1-4-create-the-view-model/

I think this issue can be closed

[2016-02-18 17:07] #42 closed

[2016-02-18 17:12] warpech commented on #44
Good point. I don't think we should change the established good practices.

I have changed the text to say: `For the simplicity of the tutorial, we will put both classes in the same file (`Database.cs`), though in your app you might probably want to store them in separate files.`

Maybe I should actually split this into two files? Anyone has strong opinion about this? @dan31, @Starcounter-Jack, @m

[2016-02-18 17:28] dan31 commented on #44
In Starcounter samples we prefer condensed code style. That's why we put definitions closer to each other. Otherwise we don't insist, whatever practice people take it is the best one for them if they can ship great software. By our example we show that we prefer less lines of code, and fit more code into a single screen (not sacrificing understanding of course).

[2016-02-18 17:44] miyconst commented on #44
I would keep it in one file for the sake of simplicity, and I like your text.

[2016-03-24 14:30] warpech commented on #55
This is fixed in https://github.com/StarcounterPrefabs/Launcher/issues/208

[2016-03-24 14:30] #55 closed

[2016-04-14 11:21] warpech opened #63 "Apply BEM to InvoiceDemo's private CSS"
This app contains globally applied CSS rules in stylesheets: https://github.com/Starcounter/InvoiceDemo/search?utf8=%E2%9C%93&q=filename%3A.css

It also contains inline CSS in HTML templates:
https://github.com/Starcounter/InvoiceDemo/search?utf8=%E2%9C%93&q=filename%3A.html+style

All private CSS should be converted to BEM-style CSS classes defined in a stylesheet, according to the intent started

[2016-04-19 11:26] k-rus opened #64 "InvoiceDemo2 creates non-unique InvoiceNo"
@warpech brought my attention about `InvoiceNo` [implementation](https://github.com/Starcounter/InvoiceDemo/blob/master/src/InvoiceDemo2/InvoicePage.json.cs#L18) in a [stackoverflow issue](http://stackoverflow.com/questions/36682381/auto-increment-in-starcounter/36711414#comment61009659_36711414). Current implementation allows to have different invoices the same `InvoiceNo` on concurrent access. I

[2016-05-06 11:33] warpech opened #65 "Update the usage of puppet-redirect"
Switch to be using the new path /sys/puppet-redirect/puppet-redirect.html.

[2016-05-06 11:44] warpech commented on #65
Done

[2016-05-06 11:44] #65 closed

[2016-05-06 11:45] warpech opened #66 "Remove object observe shims"
Three HTML files load object observe shims. This can be removed as of Starcounter 2.2

[2016-05-06 12:10] warpech commented on #66
Done

[2016-05-06 12:10] #66 closed

[2016-05-10 07:46] joozek78 opened #67 "Header is duplicated when running together with Launcher"
1. Run Launcher and InvoiceDemo part 3 together
1. Go to localhost:8080
1. Click on InvoiceDemo icon twice
1. Header is duplicated (see attached image)
![image](https://cloud.githubusercontent.com/assets/6013217/15139015/c8bd1fd2-1693-11e6-81ae-1a8c3cd64607.png)

[2016-05-10 08:11] warpech commented on #67
I'll investigate that. Thanks for reporting.

[2016-05-10 08:14] miyconst commented on #67
I also have this issue with other apps, just didn't have enough time to report.

[2016-05-10 08:16] warpech commented on #18
Doesn't make much difference. Closing

[2016-05-10 08:16] #18 closed

[2016-05-10 08:30] warpech commented on #50
This was fixed with cache fixes in Starcounter: https://github.com/Starcounter/Starcounter/issues/3427

[2016-05-10 08:30] #50 closed

[2016-05-10 08:49] warpech commented on #67
@tomalec could you please investigate this?

[2016-05-10 10:06] tomalec commented on #67
@joozek78 @miyconst Did you used latest Launcher? I cannot reproduce it.

[2016-05-10 10:24] miyconst commented on #67
Yes, for me it happened with latest Launcher, it will look for steps to reproduce when it happens again.

[2016-05-10 10:31] tomalec commented on #67
Here is what I did
![double header](https://cloud.githubusercontent.com/assets/17435/15143615/e8e53ac6-16aa-11e6-88e9-6e35f2c00ebf.gif)
StarcounterSamples/Launcher@97e5ed886d
Starcounter/InvoiceDemo@0f2e23b456

[2016-05-10 11:57] joozek78 commented on #67
I used yesterday's Launcher, so probably fresh enough. After InvoiceDemo
loaded I clicked its icon on the left again and from then on I had
duplicated header. I can try looking for some more replication paths later.

On Tue, 10 May 2016 at 12:31 Tomek Wytrębowicz <notifications@github.com>
wrote:

[2016-05-10 12:01] warpech commented on #67
Can you say what is the Starcounter version that you are using?

[2016-05-10 12:17] joozek78 commented on #67
Fresh nightly. 2.2.1.2069

On Tue, 10 May 2016 at 14:01 Marcin Warpechowski <notifications@github.com>
wrote:

[2016-05-10 12:27] joozek78 commented on #67
In today's Launcher the bug is fixed o_O

[2016-05-10 12:27] #67 closed

[2016-05-10 12:37] tomalec commented on #67
I suspect I fixed it yesterday with https://github.com/StarcounterPrefabs/Launcher/commit/5dcabde1ae4346c3f8d6b34eb9a140fde5ef7757

[2016-05-20 14:17] warpech commented on #11
This is outdated. Now InvoiceDemo is tested in Starcounter develop nightly.

[2016-05-20 14:17] #11 closed

[2016-07-14 11:26] warpech opened #68 "Switch InvoiceDemo and tutorial to use middleware"

[2016-08-18 13:36] warpech opened #69 "Add InvoiceDemo to App Warehouse"
As part of https://github.com/Starcounter/InvoiceDemo/issues/31

[2016-08-18 13:42] warpech opened #70 "InvoiceDemo has a redundant top menu when ran inside Launcher"
InvoiceDemo has a redundant top menu when ran inside Launcher

When the application is ran in Launcher, Launcher's menu should be used instead.

@miyconst has a nice solution for this: https://github.com/StarcounterSamples/People/blob/f27cebe9c7d443329b6a56039461cfe2de8ee36c/src/People/Api/MappingHandlers.cs#L16

![2016-08-18 15_41_38-launcher](https://cloud.githubusercontent.com/assets/566463/177

[2016-08-18 13:43] warpech commented on #31
I will archive Procurement today and delete it from GitHub.

Regarding the above points:

1) This can be done in future using the same trick as described in https://github.com/Starcounter/InvoiceDemo/issues/70

2) Not a problem

3) This was changed in https://github.com/Starcounter/InvoiceDemo/issues/29 (https://github.com/Starcounter/InvoiceDemo/commit/849fc3a347ea074a6dc42904caf35abe911be6ac), w

[2016-08-18 13:47] warpech opened #71 "Remove the parts about product "Price" and "Product" lookup"
Remove from code and tutorial the parts about product "Price", because that was a feature of Procurement app, which is now being removed from GitHub.

[2016-08-18 13:51] warpech commented on #31
Procurement can be removed when issues #69, #70, #71 are done

[2016-08-18 15:32] warpech commented on #71
In fact, remove the whole integration with the Products app (page ["Product field autocomplete"](http://starcounter.io/tutorials/invoicedemo-part-3/3-9-product-field-autocomplete/)), because it doesn't show anything new compared to the page ["Customer field autocomplete"](http://starcounter.io/tutorials/invoicedemo-part-3/3-7-customer-field-autocomplete/)

[2016-08-18 16:05] warpech commented on #71
Code changes done. "Product field autocomplete" page removed.

[2016-08-18 16:05] #71 closed

[2016-08-18 16:32] warpech commented on #70
Code changes done. Tutorial page updated: http://starcounter.io/tutorials/invoicedemo-part-3/3-4-add-launcher-menu-item/

[2016-08-18 16:36] #70 closed

[2016-08-19 08:38] warpech commented on #69
Done, released version 1.0.0

[2016-08-19 08:38] #69 closed

[2016-08-19 08:44] warpech commented on #31
All done. Procurement app is archived on Dropbox and removed from GitHub.

[2016-08-19 08:44] #31 closed

[2016-08-19 09:56] warpech commented on #68
This blog post explains how to do this: http://starcounter.io/replace-page-partial-classes-middleware/

Change needs to be done both in this code repository and in the Tutorial text on starcounter.io

[2016-08-29 08:01] warpech commented on #19
@miyconst now, that I know more about `Action`s and `Event`s in C#, I think that Action is actually more appropriate. Could you elaborate on why did you think otherwise?

[2016-08-29 08:05] miyconst commented on #19
- An `Action` is a variable, means only one reference to a function. An `event` can have multiple subscribers.
- It is impossible to provide parameter names in `Action` and `Func`, which means difficult code to read and constant question what is which parameter state for.

[2016-08-29 08:28] warpech commented on #19
I think that a single subscriber is usually a better pattern. Only the parent controls the nested page and gets feedback from it.

For me the only problem with `Action` is that it is easy to overwrite the callback by mistake. With `Event` this doesn't happen.

Can you provide some example?

What I dislike about `Event` is that it requires more code to pass arguments. You need to create your own cl

[2016-08-29 08:47] Mnosek commented on #19
I think that the correct pattern depends on the particular situation. Event requires more code to write, but it is easier to maintain and change without changing of the event signature (by extending and changing EventArgs). If the only thing we need is to prevent controlling parent page by children - action seems to be good enough. If the action/event has more global meaning (could be possibly sub

[2016-09-26 14:25] SenerDemiral opened #72 "InvoiceDemo1: JSON.parse: unexpected character at line 1 column 1 of the JSON data"
[code]

[2016-09-26 15:45] warpech commented on #72
Thanks for the report! I will take a look

[2016-09-27 11:58] warpech commented on #72
InvoiceDemo1, InvoiceDemo2, InvoiceDemo3 work fine for me in 2.3.3940.

Can you please try the following:

- Run `staradmin stop db default` in cmd before starting the project to unload already loaded apps.
- Clean the project in Visual Studio before building it.

-----

If all that fails, could you please go to `http://localhost:8080/invoicedemo`, go to the Network tab in Chrome Console, find the

[2016-09-27 13:16] SenerDemiral commented on #72
Before your response, I continued to Part 2 and problem solved.
But I will check Part 1 again.

[2016-09-27 21:00] SenerDemiral opened #73 "How to handle client's modification in data?"
To show to user that "You have pending update" and
New Invoice  button is inactive
Invoices are not  selected...

[2016-09-28 08:22] SenerDemiral commented on #73
Sory my fault,
OK. I found.

Handle(Input.FieldName, val) {
  ...
}

[2016-09-28 08:22] #73 closed

[2016-10-08 16:04] Mnosek commented on #19
Thanks @miyconst for extended reply. I've analysed it a bit more and I can agree that the events are more suitable especially if the whole app is very complex. Making any changes in events are much easier.

Anyway, if the purpose of using action/event is that we don't want to allow nested page to control parent page and especially if everything is placed in one file - actions look good enough for

[2017-05-17 08:47] Mackiovello opened #74 "Unpin or delete this repo"
This repo is one of the first things that people see when they go to github/starcounter since it's pinned. The InvoiceDemo is outdated and has been completely replaced by the HelloWorld tutorial. Because of this I suggest that the repo is either deleted or unpinned to not cause any confusion for people that go to this page.

@warpech

[2017-05-18 10:10] warpech commented on #74
Unpinning, moving to StarcounterAppFreezer.

[2017-05-18 10:12] warpech commented on #74
Done

[2017-05-18 10:12] #74 closed

[2017-05-18 10:12] warpech commented on #74
@Mackiovello could you pls go through all of these issues in this repo and check if they should be tracked in TechComm or HelloWorld? I think some might still make sense.

[2017-05-18 10:27] Mackiovello commented on #74
Yes, I'll take care of that